<div class="tech-btm">
    <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Mail Bültenine abone olun</h4>
    <p>Teknoloji,yazılım ve diğer bloglar...</p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">  @*name'i mail çünkü maile göre işlem gerçekleştireceğiz,sqldeki tablo ismi*@
        <input type="submit" value="Abone Ol">
    </form>

</div>